<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Homepage || Sergey Kasperovich</div>

            <nav class="nav">
                <a class="nav__link" href="/">Startpage</a>
                <a class="nav__link" href="/resume/">Resume</a>
                <a class="nav__link" href="/projects/">Projects</a>
                <a class="nav__link" href="/thoughts/">Thoughts</a>
            </nav>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
        <div class="intro__innerright">
            <article>
                <p>(C) Serge Kasperovich 2020</p>
            </article>
        </div>
        <div class="intro__inner">
            <img class="intro-image" src="/me/" alt="It's me on bikeshow" width="718" height="410">
        </div>
    </div>
</div>

</body>

</html>