[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
httpie = "*"
coverage = "==4.5.4" # https://github.com/creare-com/podpac/issues/347

[packages]
django = "*"
whitenoise = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"],version = "*"}
psycopg2 = "*"
