<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ static('css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>


<!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <img src="{{ static('images/logo.png') }}" alt="Creative solutions">
                </div>

                <nav class="nav">
                    <a class="nav__link" href="{{ static('index/index.html') }}">Target</a>
                    <a class="nav__link" href="{{ static('resume/resume.html') }}">Resume</a>
                    <a class="nav__link" href="{{ static('projects/projects.html') }}">Projects</a>
                    <a class="nav__link" href="{{ static('thoughts/thoughts.html') }}">Thoughts</a>
                </nav>
            </div>
        </div>
    </header>

<!-- Intro -->
<div class="intro">
    <div class="container">
       <div class="intro__inner">
           <h1 class="intro__title">Let's get to know me right now!</h1>
           <h2 class="intro__subtitle">{% block subtitle %}{% endblock %}</h2>
           <a class="btn btn--red" href="https://www.linkedin.com/in/serge-kasperovich/" target="_blank">Find out more</a>
         </div>
    </div>
</div>

<!-- Skills -->
<div class="container">
    <div class="skills">
        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-1.png') }}" alt="">
            <h4 class="skills__title">Аналитическое мышление</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>

        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-2.png') }}" alt="">
            <h4 class="skills__title">Технический бэкграунд</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>

        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-3.png') }}" alt="">
            <h4 class="skills__title">Свежие идеи и взгляды</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>

        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-4.png') }}" alt="">
            <h4 class="skills__title">Постоянное развитие</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>

        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-5.png') }}" alt="">
            <h4 class="skills__title">Деловой подход</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>

        <div class="skills__item">
            <img class="skills__icon" src="{{ static('images/skills/skill-6.png') }}" alt="">
            <h4 class="skills__title">Креативное мышление</h4>
            <div class="skills__text">Здесь будет какая-то надпись, раскрывающая написанное в заголовке</div>
        </div>
    </div> <!-- /.Skills -->
</div> <!-- /.container -->

<!-- Works -->
<div class="works">
    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-1.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">МСФО (IFRS) 9</div>
            <div class="works__text">Разработка и внедрение расчета ожидаемых кредитных убытков в ОАО "Белгазпромбанк"</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-2.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-3.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-4.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-5.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-6.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-7.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="{{ static('images/works/work-8.jpg') }}" alt="">
        <div class="works__content">
            <div class="works__title">Project name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
</div> <!-- /.works -->


</body>
</html>
